**/__pycache__
/checkpoints
/log
/lightning_logs
/pyramid
*.ipynb
/data
preprocess_megadepth.py
*.ckpt
test.py
/RelPoseRepo
eval_regressor.py
__eval_baselines.py
/assets/megadepth_test_new
/configs/megadepth_new.yaml
